@font-face {
	font-family: 'ARLRDBD';
	src: url(../font/ARLRDBD.TTF) format('truetype');
}

.menu, .menu div  ul, .menu div ul li, .men udiv  ul li ul {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.menu div ul{
   background:#2d3e50;
   list-style: none;
   width: 160px;
   
}
.menu div ul li{
   float: left;
   position: relative;
   font-family: ARLRDBD;
   font-size: 1em;
} 
.menu div ul li a{
  padding: 23px 26px;
  display: block;
  color:  white;
  text-decoration: none;
  line-height: 16px;
  text-align: center;
}
.menu div  > ul > li:hover > a{
 color:#f39c11;
}

.menu div > ul ul{
  opacity:0;
  visibility: hidden;
  position: absolute;
  background: #607b95;
  
}

.menu div >ul li:hover ul{
 opacity:0.9;
 visibility: visible;
 top: 62px;
 left: 0;
 color: #f39c11;
 border-radius: 3px;
 z-index: 1;
}

.menu div > ul ul li{
  list-style: none;
}

.menu div > ul ul li a{
padding: 18px 26px;
display: block;
font-family: ARLRDBD;
font-size: 15px;
color: white;
text-decoration:none;
border-left: 4px solid tarnsparent;
transition:all 0.5s sase-in-out;
}

.menu div > ul ul li:hover a{
 border-left: 4px solid #f39c11;
 color: #fcce84;
}

.menu {
	background-image: url("../imgs/menuimg.jpg");
	height: 70px;
}