
.content{
background-color: #fcfddf;
width: 960px;
height: 450px;
}
#id{
position: relative;
top: 110px;
left: 370px;
}
#pw{
position: relative;
top: 130px;
left: 355px;
}
#radio{
position: relative;
top: 140px;
left: 430px;
}
#btn{
position: relative;
top: 160px;
left: 460px;
}
#logo{
position: relative;
top: 50px;
left: 320px;
}
