.pop-layer {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 410px;
	height: auto;
	background-color: #fff;
	border: 7px solid orange;
	border-radius: 7px;
	z-index: 10;
}

.pop-layer .pop-container {
	padding: 20px 25px;
}

.pop-layer p.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

a.cbtn {
	display: inline-block;
	height: 25px;
	padding: 0 14px 0;
	border: 1px solid orange;
	background-color: orange;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
	text-decoration: none;
	border-radius: 3px;
}

a.cbtn:hover {
	border: 1px solid #091940;
	background-color: #1f326a;
	color: #fff;
}

#check{
position: absolute;
left: 270px;
width: 100px;
height: 70px;
border-radius:5px;
}

#join,#memberJoin{
position: absolute;
width: 100px;
height: 100px;
border-radius:50px;
}

#join{
top:450px;
left: 650px;
}
#memberJoin{
top:450px;
left: 850px;
}
#sabun{
 width: 130px;
 border-radius:2px;
}
#name{
 width: 130px;
 border-radius:2px;
}
#bDay{
border-radius:1px;
}
#popname{
 border-bottom: 1px solid #DDD;
 text-align: center;
 color:#123478;
 padding: 10px;
}
#pageName{
 padding-top: 50px;
 padding-bottom: 15px;
 border-bottom: 3px dotted #DDD;
 text-align: center;
 color: gray;
 width: 830px;
 left: 80px;
 position: relative;
}
#pageEnd{
 border-top: 3px dotted #DDD;
 color: gray;
 width: 830px;
 top: 300px;
 left: 80px;
 position: relative;
}
.content{
height: 450px;
}


